:root {
  --nav-Width: 20%;
  --main-nav-height: 7vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-width: 100vw;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  background-color: #0e1117;
  color: white;
}

.main-nav {
  background-color: #11151a;
  height: var(--main-nav-height);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px;
  font-size: 25px;
}

.body-container {
  height: calc(100vh - var(--main-nav-height));
  display: flex;
  flex-wrap: nowrap;
}

.side-bar {
  width: var(--nav-Width);
  background-color: #11151a;
  padding: 10px;
  /* padding: 10px 20px; */
}

.side-bar hr {
  border: 0.5px solid rgba(255, 255, 255, 0.457);
  margin: 10px 0;
}

.questions {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.question {
  width: 35px;
  height: 35px;
  display: grid;
  place-items: center;
  border-radius: 5px;
  background-color: rgba(199, 199, 199, 0.496);
  transition: all 250ms ease;
}

.question:hover {
  cursor: pointer;
  background-color: rgba(81, 86, 126, 0.496);
}

.content {
  width: calc(100vw - var(--nav-Width));
}

.li-item {
  width: 100%;
  height: 45px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: all 250ms ease;
  gap: 20px;
}
.li-item span {
  font-size: 14px;
}

.li-item:hover {
  background-color: #232c37;
  cursor: pointer;
}

.hide {
  display: none !important;
  user-select: none !important;
  pointer-events: none !important;
}

.content {
  position: relative;
  padding: 100px 10px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.detail-item {
  display: flex;
  gap: 15px;
  align-items: center;
}
.content input {
  width: 450px;
  color: white;
  font-family: "Montserrat", sans-serif;
  /* height: 16px; */
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.226);
  border-radius: 10px;
  padding: 10px 16px;
  background-color: rgba(45, 55, 109, 40%);
}

.tags-edit-c {
  width: 450px;
  color: white;
  font-family: "Montserrat", sans-serif;
  /* padding: 4px; */
  display: flex;
  flex-wrap: wrap;
  /* height: 16px; */
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.226);
  border-radius: 10px;
  background-color: rgba(45, 55, 109, 40%);
}

.tags-edit-c input {
  height: 90%;
  width: auto;
  border: none !important;
  padding: 10px 16px;
  background-color: transparent !important;
}

.content input:focus {
  border: 1px solid rgba(199, 199, 199, 0.801);
}

.desc:focus {
  border: 1px solid rgba(199, 199, 199, 0.801);
}
.content input::placeholder {
  color: rgba(255, 255, 255, 0.554);
}

.details {
  width: 600px;
}

.desc {
  width: 450px;
  height: 100px;
  color: white;
  /* height: 16px; */
  font-family: "Montserrat", sans-serif;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.226);
  border-radius: 10px;
  padding: 10px 16px;
  background-color: rgba(45, 55, 109, 40%);
}
.desc-ques {
  height: 75px !important;
}

.desc::placeholder {
  color: rgba(255, 255, 255, 0.554);
  font-family: "Montserrat", sans-serif;
}

.details-head {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 30px;
}

.description {
  align-items: flex-start;
}

.add-details {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.tags > span:first-child {
  width: 102px;
}

/* .desc {
  height: 150px;
} */
.radio {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

.radio-options {
  display: flex;
  /* gap: 15px; */
}

.radio-options > label {
  padding: 10px;
  background-color: #1b2039;
  border-right: 1px solid rgba(255, 255, 255, 0.82);
  transition: all 250ms ease;
}

.radio-options label:nth-child(3) {
  border-radius: 0 5px 5px 0;
  border-right: none;
}
.radio-options label:nth-child(1) {
  border-radius: 5px 0 0 5px;
}

.radio-options > label:hover {
  background-color: #253464;
}

.description > span:first-child {
  width: 102px;
}

.radio-settings > span:first-child {
  width: 102px;
}

.tags-edit {
  padding: 5px 10px;
  width: 450px;
  color: white;
  font-family: "Montserrat", sans-serif;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.226);
  border-radius: 10px;
  padding: 10px 16px;
  background-color: rgba(45, 55, 109, 40%);
}

/* .first {
  color: rgba(213, 213, 213, 0.697);
} */

.inner {
  padding: 4px 10px;
  background-color: rgba(163, 163, 163, 0.623);
  border-radius: 50px;
  font-size: 12px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3px;
}

.inner span {
  margin-left: 5px;
}

.quiz-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
}
.quiz-btns button {
  width: 60px;
  height: 35px;
  font-size: 12px;
  color: white;
  margin: 5px 0px;
  font-weight: 300 !important;
  border-radius: 5px;
  outline: none;
  transition: all 250ms ease;
  border: none;
}

.discard button {
  background-color: rgb(216, 46, 46);
  transition: all 250ms ease;
}
.next button {
  background-color: rgb(20, 143, 75);

  transition: all 250ms ease;
}

.discard button:hover {
  cursor: pointer;
  background-color: rgb(241, 58, 58);
}

.next button:hover {
  background-color: rgb(25, 170, 90);
  cursor: pointer;
}

input[type="file"] {
  display: none;
}

.file-inp {
  width: 450px;
  color: white;
  font-family: "Montserrat", sans-serif;

  display: flex;
  flex-wrap: wrap;
  /* height: 16px; */
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.226);
  border-radius: 10px;
  background-color: rgba(45, 55, 109, 40%);
}

.file-c {
  display: flex;
  width: 100%;
  align-items: center;
  font-size: 14px;
}

.file-text {
  padding: 10px 16px;
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.file-inp-c {
  padding: 10px 16px;
  border-radius: 0 10px 10px 0;
  text-align: center;
  width: 30%;
  height: 100%;
  display: grid;
  place-items: center;
  transition: all 250ms ease;
  background-color: rgba(45, 65, 147, 0.739);
}

.file-inp-c:hover {
  background-color: rgba(65, 89, 182, 0.772);
}

.heading > span:first-child {
  /* margin-right: 58px; */
  width: 102px;
}

.delete button {
  width: 100px !important;
}

.options {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
}

.question-page {
  width: 65vw;
  display: flex;
  justify-content: center;
}

.option {
  width: 48%;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.options input {
  background-color: transparent;
  border: none;
  width: 80%;
}

.options input:focus {
  border: none;
}

.correct {
  background-color: rgba(43, 209, 120, 0.795);
}

.checkbox {
  width: 15px;
  height: 15px;
  /* background-color: white; */
  transition: all 250ms ease;
  border: 1px solid white;
  border-radius: 50%;
}

.checkbox:focus-within {
}

label:has(input[type="radio"]:checked) {
  background-color: rgba(43, 209, 120, 0.795);
}

.quiz-btns div:last-child {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.save button {
  width: 100px;
  background-color: rgb(20, 143, 75);
}

.save button:hover {
  background-color: rgb(25, 170, 90);
  cursor: pointer;
}

.radio-options > label:has(.radio:checked) {
  background-color: #303757 !important;
}

a {
  text-decoration: none;
  color: inherit;
}

.toggle {
  width: 100%;
  /* padding: 10px; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 15px;
  color: white;
  /* color: #194793; */
}

.toggle .toggle-btn {
  width: 50px;
  height: 26px;
  position: relative;
  border-radius: 12px;
  background-color: #1b2039;
  margin: 0px 30px;
}

.toggle-circle {
  background-color: white;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  position: absolute;
  left: 2px;
  top: 3px;
  transition: all 500ms ease;
}

.toggle input {
  position: absolute;
  top: -9999px;
}

.toggle-btn input:checked[type="checkbox"] + label .toggle-circle {
  left: 27px;
}
